<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net471" />
  <package id="ControlzEx" version="4.0.0-alpha0210" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.0.0-alpha0121" targetFramework="net471" />
</packages>